header {
  padding: 27px 0 17px;
  .logo {
    .logo__content {
      margin: 0 0 0 10px;
      .logo__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 0.83;
        color: #f29700;
        margin: 0 0 10px;
      }
      .logo__sub-title {
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.67;
        color: #6f6f6f;
      }
    }
  }
  form {
    .input-group{
      .form-control {
        &:focus {
          box-shadow: none;
        }
      }
      .input-group-append {
        button {
          &:hover {
            color: #f29700;
          }
        }
      }
    }
  }
}

